*{
    margin: 0px;
    height: 0px;
    box-sizing: border-box; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
nav{
    display: flex;
    height: 30px;
    width: 100%;
}
#header nav ul{
    margin-left: 800px;
    margin-top: 30px;
    position: absolute;
    font-size: large;
    
}
#header nav ul li{
    display: inline;
    color: black;
    margin: 20px;
    
   
}
#header nav ul li a{
    color: black;
    text-decoration: none;
    margin: 10px;
    
}
#header nav ul a:hover{
    color: rgb(240, 191, 15);
    text-decoration: underline;
}
nav img{
    margin-right: 500px;
    height: 100px;
    width: 150px;
    position: absolute;
    margin-top: 0px;
}
#profile img{
    height: 600px;
    width: 100%;
    margin-top: 90px;
    position: absolute;
    top: 10px;
}
#profile p{
    position: absolute;
    font-size: xx-large;
    margin-top: 100px;
    margin-left: 550px;
}
#about p{
    margin-top: 850px;
    margin-left: 190px;
    margin-right: 140px;
    text-align: justify;
    justify-content: center;
    color: goldenrod;
}
#us{
    color: black;
    position: absolute;
    text-align: center;
    margin-left: 700px;
    top: 750px;
    font-size: x-large;   
}
#our{
    color: black;
    position: absolute;
    text-align: center;
    margin-left: 700px;
    top: 1100px;
    font-size: x-large;
}
#our span{
    color: darkgoldenrod;
}
.row1{
    background-color: rgb(220, 162, 16);
    height: 500px;
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 300px;


}
.col1{
    background-color: rgb(155, 153, 129);
    height: 430px;
    width: 300px;
    margin: 40px;
    padding: 10px;
    

}
.col1 img{
    height: 200px;
    width: 100%;
}
.col1 p{
    margin-top: 50px;
    font-style: italic;
}
.col1 h3{
    margin-top: 70px;
}
button{
    background-color:rgb(164, 67, 67);
    color: rgb(255, 253, 253);
    margin: 10px;
    padding: 15px;
    margin-top: 50px;
}
button a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    
}
button a:hover{
    text-decoration: underline;
    color: greenyellow;
}
.row2{
    background-color: rgb(220, 162, 16);
    height: 700px;
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 0px;
}
.col2{
    background-color: rgb(155, 153, 129);
    height: 430px;
    width: 300px;
    margin: 40px;
    padding: 10px;
}
.col2 img{
    height: 200px;
    width: 100%;
}
.col2 p{
    margin-top: 50px;
    font-style: italic;
}
.col2 h3{
    margin-top: 70px;
}
button{
    background-color:rgb(164, 67, 67);
    color: rgb(255, 253, 253);
    margin: 10px;
    padding: 15px;
    margin-top: 50px;
}
button a{
    text-decoration: none;
    color: rgb(255, 255, 255);    
}
button a:hover{
    text-decoration: underline;
    color: greenyellow;
}
.team h3{
    margin-left: 650px;
    margin-top: 10px;
    font-size: xx-large;
    
}
.team span{
    font-family:  Georgia, 'Times New Roman', Times, serif;
    color: brown;
}
.team{
    width: 100%;
    height: 500px;
    background-color: rgb(222, 200, 111);
    margin-top: 1200px;  
}
.team h2{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large; 
}
.team h2 span{
    background-color: rgb(4, 4, 4);
}
.team .team_box{
    width: 95%;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 13%;
    margin-top: 250px;
}
.team .team_box .profile{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    display: flex;
   
    position: relative;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px black;
    transition: 0.4s;
    margin: 0 15px;
    /* margin-right: 900px; */
}
.team .team_box .profile:hover{
    border-radius: 20px;
    height: 320px;

}
.team .team_box .profile img{
    width: 250px;
    height: 250px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 8px black;
    z-index: 2;
    transition: 0.4s;
}
.team .team_box .profile:hover img{
    border-radius: 20px;
    margin-top: -230px;
}
.team .team_box .profile .info{
    position: absolute;
    text-align: center;
    top: 25%;
    transition: 0.4s;  
}
.team .team_box .profile:hover .info{
    top: 60%;
}
.team .team_box .profile .info .name{
    color: rgb(18, 17, 16);
    margin-bottom: 15px;
    width: 70%;
    margin: 0 auto 10px auto;
    margin-top: 60px;  
}
footer{
    height: 200px;
    margin-top: 500px;
    background-color: rgb(202, 167, 101);
}
footer p{
    text-align: center;
    margin-top: 30px;
}

footer #last{
    text-align: center;
    margin-top: 200px;
    
}



